{% extends 'website.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="form_div">
        <h1 class="h3 mb-3 font-weight-normal page_head">Log in</h1>
        <form method="post" class="tm-contact-form submit_form">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}

            {% if app.user %}
                <div class="alert alert-success">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <div class="form-group">
                <label for="inputUsername">Username</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control rounded-0" required autofocus autocomplete = "new-password">
            </div>
            <div class="form-group">    
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control rounded-0" required autocomplete = "new-password">
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <div class="form-group">    
                <button class="btn btn-primary btn-lg" type="submit">
                    Sign in
                </button>
            </div>
        </form>
    </div>
{% endblock %}
