<div class="main cover_mobile">
	{% if user.id == app.user.id %}
	    <form method="post" enctype="multipart/form-data" action="{{ path('upload_pic')}}" id="cover_pic_form">
			<label for="cover_pic" class="cover_image_edit">
				<i class="fas fa-edit"></i> 
			</label>
			<input type="file" class="upload_pic_input" name="cover_pic" id="cover_pic">
			<input type="hidden" name="pic_value" value="cover_pic">
			<button type="submit" id="sbmt_cover_pic" style="display: none;"></button>
		</form>
	{% endif %}
	{% set url = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

    <div class="cover">
    	{% if (user.coverPic) %}
        	<img src="{{ asset('/images/cover_pic/' ~ user.coverPic) }}" id="cover_pic_tag" />
    	{% else %}
        	<img src="{{ asset('/images/cover_pic/default_cover.jpg') }}" id="cover_pic_tag" />

    	{% endif %}

    	<ul class="below_cover">
		  	<li>
		  		{% if app.user.id != user.id %}  
		  			<a class="{% if '/about' in url %} active {% endif %}" href="{{ path('about', {id:user.id|base64_encode}) }}">About Info</a>
		  		{% else %}
		  			<a class="{% if '/about' in url %} active {% endif %}" href="{{ path('about') }}">About me</a>
		  		{% endif %}
		  	</li>

		  	{% if isUrlHasId == "no" %}
		  		<li>
		  			<a href="#home" data-toggle="modal" data-target="#myModal">Find friends</a>
		  		</li>
		  	{% endif %}

		  	<li>
		  		{% if app.user.id != user.id %}  
		  			<a class="{% if '/friends' in url %} active {% endif %}" href="{{ path('my_friend', {id:user.id|base64_encode}) }}">Friends</a>
		  		{% else %}
		  			<a class="{% if '/friends' in url %} active {% endif %}" href="{{ path('my_friend') }}">Friends</a>
		  		{% endif %}
	  		</li>

		  	
		  	{% if isUrlHasId == "no" %}
			  	<li>
			  		<a href="javascript:void(0);" data-toggle="modal" data-target="#postModal">Add post</a>
			  	</li>
			{% endif %}
			<li>
		  		{% if app.user.id != user.id %}  
			  		<a class="{% if '/profile' in url %} active {% endif %}" href="{{ path('home', {id:user.id|base64_encode}) }}">{{ user.name }}'s posts</a>
		  		{% else %}
			  		<a class="{% if '/profile' in url %} active {% endif %}" href="{{ path('home') }}">My posts</a>
		  		{% endif %}
	  		</li>
		  	
		  	<li>
		  		<a href="{{ path('post') }}">All posts</a>
		  	</li>

		  	{% if isUrlHasId == "no" %}
			  	<li>
			  		<a href="{{ path('user_account_update') }}">Account update</a>
			  	</li>
			{% endif %}
		</ul>
	    	
	    <div class="profile">
			{% if user.id == app.user.id %}
			    <form method="post" enctype="multipart/form-data" action="{{ path('upload_pic')}}" id="profile_pic_form">
					<label for="profile_pic" class="profile_image_edit">
						<i class="fas fa-edit"></i> 
					</label>
					<input type="file" name="profile_pic" id="profile_pic">
					<input type="hidden" name="pic_value" value="profile_pic">
					<button type="submit" id="sbmt_profile_pic" style="" le="display: none;"></button>
				</form>	
			{% endif %}
	        {% if (user.profilePic) %}
        		<img src="{{ asset('/images/profile_pic/' ~ user.profilePic) }}" id="profile_pic_tag"/>
	    	{% else %}
        		<img src="{{ asset('/images/profile_pic/fallback.jpg') }}" id="profile_pic_tag"/>
	    	{% endif %}

		    <span class="cover_username">
		    	{{ user.name }}
		    </span>
	    </div>
    </div>
</div>