{% extends 'website.html.twig' %}

{% block title %} ( {{ user.name }} ) {% endblock %}

{% block body %}

	{% include 'home/cover.html.twig' %}

	<div class="main">
		<div class="container">
	    	<div class="row">
		      	<div class="col-lg-8 post_list_div">
			      	{% for post in posts %}
				        <div class="post_list">
				        	<div class="post_header">
				        		{% if post.user.id == app.user.id %}
					        		<div class="dropdown right_side">
									  	<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									    	<i class="fas fa-ellipsis-v"> </i>
									  	</button>
									  	<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
									  		<li class="dropdown-item dropdown_link edit_post" hitUrl="{{ path('post_detail', {'id': post.id|base64_encode, 'type': 'model'}) }}">
									  			Edit 
									  		</li>
									  		<li class="dropdown-item dropdown_link del_post" hitUrl="{{ path('post_delete', {'id': post.id|base64_encode}) }}">Delete</li>
									  	</ul>
									</div>
								{% endif %}
					        	{% if app.user.profilePic %}
					        		<img src="{{ asset('/images/profile_pic/' ~ post.user.profilePic) }}" class="header_pro_pic">
					        	{% else %}
					        		<img src="{{ asset('/images/profile_pic/fallback.jpg')}}" class="header_pro_pic">
					        	{% endif %}
						        <span class="post_author">
						        	<a href="{{ path('home') ~ '/' ~ post.user.id|base64_encode}}" class="post_author"> {{ post.user.name }} </a>
						        </span>
						        <span class="post_time">
						        	<i class="fas fa-clock"> </i> {{ post.createdAt | date("M d, Y h:i A", "Asia/Calcutta") }}
					        	</span>
				        	</div>
				        	<span class="post_detail" id="post{{post.id}}">
			        			{{ post.text | raw }}
			        		</span>
				        </div>
				    {% endfor %}
		      	</div>
		    </div>
		</div>
	</div>
{% endblock %}