{% extends 'website.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="form_div">
        <h1 class="page_head">Register</h1>
        {{ form_start(registrationForm, {'attr': {'class': 'tm-contact-form submit_form'}}) }}
            <div class="form-group"> 
                {{ form_widget(registrationForm.roles ) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.name, {'attr': {'class': 'form-control rounded-0', 'placeholder' : 'Name'}} ) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.email, {'attr': {'type':'email', 'class': 'form-control rounded-0', 'placeholder' : 'Email-id', 'autocomplete':'new-password'}} ) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.username, {'attr': {'class': 'form-control rounded-0', 'placeholder' : 'Username', 'autocomplete':'new-password'}} ) }}
            </div>
            <div class="form-group">
                {{ form_label(registrationForm.plainPassword, 'Password') }} 
                {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control rounded-0', 'placeholder' : 'Password', 'autocomplete':'new-password'}} ) }}
            </div>
            <div class="form-group">
                {{ form_widget(registrationForm.agreeTerms) }}
                {{ form_label(registrationForm.agreeTerms, 'I agree to terms and conditions') }}
            </div>
            <div class="form-group margn_btm">
                <button type="submit" class="btn btn-primary btn-lg">Register</button>
            </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
