body {
	/* background-color: #4e73df; */
	background-image: linear-gradient(84deg,#E5FCFC 8%,#2149bd 108%);
	background-size: cover;
}

.right-side-nav {
	/*box-sizing: border-box;*/
	text-align: right;
	/*display: block;
	float: right;*/
	/*margin: 30px 0px;*/
	/*margin-top: -80px;*/
}

.right-side-nav a{
	padding: 0px 15px;
	color: #309afd;
}

.page_head {
	line-height: 1.5em;
	text-align: center;
}

.submit_form {
	max-width: 500px;
	margin: 0px auto;
	border: 1px solid #d0efff;
	padding: 20px;
	border-radius: 20px;
}
.form-control {
	padding: 10px;
	border-radius: 5px;
	font-size: 1em;
	height: 40px;
}

.tm-site-header{
	padding: 20px 30px 10px;
}

.tm-site-header a{
	text-decoration: none;
}

.tag_line {
	font-size: 0.5em;
}

.tm-footer {
	/*position: fixed;*/
	left: 0;
	bottom: 0;
	width: 100%;
	/* background-color: red; */
	/*color: white;*/
	/* text-align: center; */
}

/* profile page*/

.cover_image_edit{
	position: absolute;
	margin: 1px 10px;
	z-index: 9;
}
.cover_image_edit:hover{
	color:white;
}

#cover_pic {
	opacity: 0;
	position: absolute;
	z-index: -1;
}

.profile_image_edit{
	position: absolute;
	margin: 1px 10px;
	z-index: 9;
}

.profile_image_edit:hover{
	color:white;
}

#profile_pic {
	opacity: 0;
	position: absolute;
	z-index: -1;
}

.main {
    display:block;
    position:relative;
    width: 980px;
    margin: 0 auto;
}
.cover {
    display:block;
    position:relative;
    height:437px;
    /*overflow:hidden;*/
    z-index:1;
}
.cover img {
    width:100%;
    z-index:1;
    height: 75%;
}
.profile {
    display:block;
    position:relative;
    border:#d0efff solid 3px;
    border-radius:5px;
    width:200px;
    height:200px;
    margin: -163px 0 10px 20px;
    z-index:999;
}
.profile img {
    max-width:100%;
    z-index:999;
    height: 100%;
    /*margin: -34px 0 0px 0px;*/
}

.below_cover {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  float: right;
  line-height: 1.2em;
  font-size: 17px;
}

.below_cover li {
  float: left;
}

.below_cover li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.below_cover li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #111;
}

.header_pro_pic {
	width: 40px;
	border-radius: 20px;
	border: #d0efff solid 3px;
	height: 40px;
}

.right-side-nav a{
	color: #d0efff;
}

a {
	text-decoration: none;
}

.web_name{
	font-size: 1.2em;
}

.form_div {
	margin: 0px auto;
	width: 50%;
}

.margn_btm{
	margin-bottom: 10px;
}

.modal-header {
	background-image: linear-gradient(84deg,#E5FCFC 0%,#2149bd 40%);
}

li {
	list-style: none;
}

.result_div {
	/*border: 1px solid #e2e3e3;*/
	/*border-radius: 5px;*/
	margin: 1px;
}

.user_search_li li {
	/* width: 50%; */
	display: inline-block;
	/* display: inline-block; */
	width: 30%;
	/* margin: 0; */
	padding: 0;
	vertical-align: top;
	border: 1px solid #d8d9d9;
	margin: 5px;
	height: 200px;
}

.result_li {
	padding: 10px;
	display: grid;
	text-align: center;
}

.result_li img {
	width: 105px;
	border-radius: 65px;
	margin: 0px auto;	
	height: 105px;
}

.search_name {
	overflow: hidden;
	height: 40px;
}

.no_result_img {
	margin: 0px auto;
	display: block;
}

.input_search_icon {
	float: right;
	margin: -30px 5px 0px 0px;
	color: #CFD0D1;
}

label {
	margin-bottom: 0px; 
	font-weight: 500;
}

.post_list {
	border: 1px solid #d0efff;
	padding: 0px 20px;
	margin-bottom: 40px;
	border-radius: 10px;
}

.post_author {
	color: blue;
}

.post_header {
	padding: 5px 0px;
}

.post_time {
	font-size: 13px;
	display: block;
	margin: -15px 0px 0px 45px;
}

.right_side{
	float: right;
}
.right_side li{
	padding: 0px 10px;
}

.add_post_btn{
	width: 240px;
}

.dropdown_link{
	cursor: pointer;
}
.dropdown_link:hover{
	background-color: #f0f0f0;
}

.post_detail {
	color: #333;
}

#profile_pic_form {
	height: 0px;
}

.btn-divide {
	width: 70px;
}

.cover_username {
	font-size: 30px;
	color: black;
	position: absolute;
	bottom: 60px;
	left: 220px;
	z-index: 999;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 0 7px rgba(0, 0, 0, .8);
	width: 250px;
}

.div_divide {
	border: 1px solid #d0efff;
	padding: 10px 15px;
	border-radius: 10px; 
}

.head {
	background: darkblue;
	color: #fff;
	padding: 6px;
	margin-top: 0px; 
}

.frnd_li {
	border: 1px solid #B6B7B7;
	margin: 10px 0px;
	height: 100px;
	padding: 0px 5px;
	display: flex;
}

.frnd_pro_pic {
	width: 100px;
	margin-left: -5px;
}

.frnd_rest {
	margin: auto 0px;
	margin-left: 11px;
	width: 75%;
}

.frnd_pro_pic img {
	height: 100%;
}

.head_find_a{
	color: #fff;
}

.tm-footer span{
	color: #00008b;
}
.tm-footer .devlr {
	color: #00008b;
	font-weight: bold;
}


/* message section */
.msg_div {
	border: 1px solid #d0efff;
	border-radius: 15px;
	background-color: #eeeeee;
	/*font-family: 'Avenir';*/
}

.msg_div_pd {
	padding: 15px 0px;
}

.bubbleWrapper {
	padding: 0px 10px;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-self: flex-end;
  	color: #fff;
  	line-height: 1.4em;
  	font-size: 16px;
}
.inlineContainer {
  	display: inline-flex;
}
.inlineContainer.own {
  	flex-direction: row-reverse;
}
.inlineIcon {
  	width:25px;
  	/*object-fit: contain;*/
	height: 25px;
	border-radius: 30px;
}

.ownBubble {
	min-width: 60px;
	max-width: 700px;
	padding: 1px 15px;
  	margin: 6px 8px;
	background-color: #9890B4;
	border-radius: 16px 16px 0 16px;
	border: 1px solid #9890B4;
}
.otherBubble {
	min-width: 60px;
	max-width: 700px;
	padding: 1px 15px;
  	margin: 6px 8px;
	background-color: #6C8EA4;
	border-radius: 16px 16px 16px 0;
	border: 1px solid #54788e;
}
.own {
	align-self: flex-end;
}
.other {
	align-self: flex-start;
}
span.own,
span.other{
  font-size: 14px;
  color: grey;
}

.msg_head {
	border-radius: 0px 15px 0px 0px;
}

.send_msg_div {
	margin-top: 20px;
	/*border: 1px solid #00008b;*/
	/*border-radius: 0px 0px 15px 15px; */
}

.msg_form_div {
	/* margin: auto 0px; */
	margin: 15px;
}

.msg_form_div form{
	display: flex;
}

.msg_list {
	overflow: scroll;
	height: 450px;
}

.inlineCenter {
	margin: 0px auto;
	background: #fff;
	height: 25;
	border: 30px;
	color: #00008b;
	border-radius: 15px;
}

.dateSpan {
	padding: 20px;
}

.dateDiv {
	margin-top: -32px;
}

.dateHr {
	border: 1px solid #fff;
}

.msg_head a{
	color: #fff;
}

.no_msg p {
	font-size: 60px;
	margin: 145px 0px;
	color: #8485;
}

.no_msg {
	margin: 0px auto;
	text-align: center;
}

.main_content {
	min-height: 468px;
}

.below_div {
	margin-top: 20px;
}

.about_edit {
	padding: 0px !important;
}

.abt_edit_i {
	color: #111111;
}

.alert {
    padding: 5px 8px;
}

.home_cover_img {
	/*object-fit: cover;*/
	width: 100%;
	height: 400px;
}