@media only screen and (max-width: 997px) and (min-width: 601px) {
	.main {
		width: 100%;
	}

	.cover {
		height: 370px;
	}

	.profile {
		width: 125px;
		height: 125px;
		margin: -131px 0 10px 20px;
	}

	.cover_username {
		bottom: 35px;
		left: 140px;
	}

	.cover_mobile {
		margin-bottom: 50px;
	}

	.mobile_below_div {
		margin-top: 20px;
	}
}
@media only screen and (max-width: 600px) {
  	
  	.form_div {
		margin: 0px auto;
		width: 90%;
	}
	.main {
		width: 100%;
	}

	.cover {
		height: 250px;
	}

	.profile img {
		border-radius: 50px;
	}

	.profile {
		border-radius: 60px;
		width: 100px;
		height: 100px;
		margin: -105px 0 10px 20px;
	}

	.cover_mobile {
		margin-bottom: 100px;
	}

	.cover_username {
		bottom: 30px;
		left: 115px;
	}

	.mobile_below_div {
		margin-top: 20px;
	}

	.result_li {
		padding: 5px;
	}

	.user_search_li li {
		width: 45%;
	}

	.btn-divide {
		width: auto;
	}

	.btn {
		padding: 6px 5px;
	}

	.mb_frnd_req{
		margin-top: 20px;
	}

	.tm-site-header {
		padding: 10px 0px 0px;
	}

	.main_content {
		min-height: 370px;
	}

	#tm-video-container {
	    max-height: 260px;
	}

	.home_cover_img {
		height: 260px;
	}
}