<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Find Friends</h4>
            </div>
            <div class="modal-body">
              	<form method="post" action="{{ path('find_user') }}" id="find_user_form"> 
              		<div class="form-group">
        	            <input type="text" name="name" class="form-control rounded-0 find_user" onkeyup="findUser($(this))" required="required" placeholder="Enter name">
                        <i class="fas fa-search input_search_icon"></i>
        	        </div>
                  <button type="submit" id="sbmt_find_user" style="display:none;"></button>
              	</form>
                <div class="result_div">
                    <img class="no_result_img" src="{{ asset('/images/no-result-found.png') }}">
                    <ul class="user_search_li">
                        
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="postModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Post</h4>
            </div>
            <form method="post" action="{{ path('add_post') }}" id="add_user_post"> 
                <div class="modal-body">
                    <div class="form-group">
                        <textarea id="add_post_textarea" class="form-control" name="text" rows="3" placeholder="Write post..."></textarea>
                    </div>
                    <div class="form-group">
                        <label>Who can see this post?</label>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="privacy_id" id="privacy1" value="1">
                          <label class="form-check-label" for="privacy1"> Only me </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="privacy_id" id="privacy2" value="2">
                          <label class="form-check-label" for="privacy2"> Friends </label>
                        </div>
                        <div class="form-check disabled">
                          <input class="form-check-input" type="radio" name="privacy_id" id="privacy3" value="3" checked>
                          <label class="form-check-label" for="privacy3"> Public <label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" id="add_post_btn" class="btn btn-primary btn-lg" value="Post">
                </div>
            </form>
        </div>
    </div>
</div>

<div id="editPostModal" class="modal fade" role="dialog">
    
</div>
