<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SOLO - {% block title %}{% endblock %}</title>
        {% block stylesheets %}
        	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
        	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

		    <link rel="stylesheet" href="{{ asset('/fontawesome/css/all.min.css') }}"> <!-- https://fontawesome.com/ -->
		    <link rel="stylesheet" href="{{ asset('/css/magnific-popup.css') }}"> 
		    <link rel="stylesheet" href="{{ asset('/css/templatemo-ocean-vibes.css') }}"> 
		    <link rel="stylesheet" href="{{ asset('/css/summernote.css') }}"> 
		    <link rel="stylesheet" href="{{ asset('/css/custom.css') }}"> <!-- https://fontawesome.com/ -->
		    <link rel="stylesheet" href="{{ asset('/css/responsive.css') }}">
        {% endblock %}
    </head>

    <body>
	    {% include 'common/modals.html.twig' %}	
	    <header class="tm-site-header row">
	    	<div class="col-md-12">
	    		<div class="col-md-4 col-xs-4">
			        <h1 class="tm-mt-0 tm-mb-15">
			        	<a href="{{ path('index') }}">
				        	<span class="tm-color-primary web_name">Solo</span>
				        	<em class="tm-color-light-gray tag_line">Expand YourSelf</em>
			        	</a>
			        </h1>
	    		</div>
	    	<!-- <em class="tm-tagline tm-color-light-gray">Expand YourSelf</em> -->
	    		<div class="col-md-8 col-xs-8">
		    	    <div class="right-side-nav">
		    	    	{% if app.user %}
		    	    		
					        <a href="{{ path('home') }}" class=""> 
					        	{% if app.user.profilePic %}
					        		<img src="{{ asset('/images/profile_pic//' ~ app.user.profilePic) }}" class="header_pro_pic">
					        	{% else %}
					        		<img src="{{ asset('/images/profile_pic/fallback.jpg')}}" class="header_pro_pic">
					        	{% endif %}
					        	{{ app.user.name }}
					        </a>				        
					        <a href="{{ path('app_logout') }}" class="">Logout</a>				        
					    {% else %}
					        <a href="{{ path('app_login') }}" class="">Login</a>
					        <a href="{{ path('app_register') }}" class="">Register</a>
			        	{% endif %}
			        </div>
			    </div>
	       	
		    </div>
	    </header>

	    <div class="main_content">
	    	
    		{% block body %}{% endblock %}
	    </div>

	    <footer class="tm-footer">
	        <span>Copyright &copy; 2020 Solo</span>
	        <span>Developed by 
	        <span class="devlr">@Kushwaha</span></span>
	    </footer>
        
    </body>
    
	{% block javascripts %}
    	<script src="{{ asset('/js/jquery-3.4.1.min.js') }}"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	    <script src="{{ asset('/js/imagesloaded.pkgd.min.js') }}"></script>
	    <script src="{{ asset('/js/isotope.pkgd.min.js') }}"></script>
	    <script src="{{ asset('/js/jquery.magnific-popup.min.js') }}"></script>    
	    <script src="{{ asset('/js/templatemo-script.js') }}"></script>
	    <script src="{{ asset('/js/summernote.js') }}"></script>
	    <script src="{{ asset('/js/custom.js') }}"></script>
    {% endblock %}

</html>