{% extends 'website.html.twig' %}

{% block title %} ( {{ user.name }} ) {% endblock %}

{% block body %}

	{% include 'home/cover.html.twig' %}

	<div class="main">
		<div class="container">
	    	<div class="row">
		      	<div class="col-lg-8 post_list_div">
					<h3 class="head msg_head">
						{% if user.profilePic %}
							{% set pro_pic = user.profilePic  %}
			        	{% else %}
							{% set pro_pic = 'fallback.jpg'  %}
			        	{% endif %}
						<img src="{{ asset('/images/profile_pic/' ~ pro_pic)}}" class="header_pro_pic"> About Info
		        		{% if user.id == app.user.id %}
			        		<div class="dropdown right_side">
							  	<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    	<i class="fas fa-ellipsis-v abt_edit_i"> </i>
							  	</button>
							  	<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
							  		<li class="dropdown-item dropdown_link">
							  			<a href="{{ path('user_account_update') }}#abt_edit_div" class="about_edit">Edit</a>
							  		</li>
							  	</ul>
							</div>
						{% endif %}
				 	</h3>
			        <div class="post_list">
			        	<div class="post_header">
				        	<!-- {% if user.profilePic %}
				        		<img src="{{ asset('/images/profile_pic/' ~ user.profilePic) }}" class="header_pro_pic">
				        	{% else %}
				        		<img src="{{ asset('/images/profile_pic/fallback.jpg')}}" class="header_pro_pic">
				        	{% endif %}
					        <span class="post_author">
					        	<a href="{{ path('home') ~ '/' ~ user.id|base64_encode}}" class="post_author"> {{ user.name }} </a>
					        </span> -->
			        	</div>
			        	<span class="post_detail">
			        		{% if user.about %} 
		        				{{ user.about | raw }}
			        		{% else %}
		        				{% if user.id == app.user.id %}
		        					<a href="{{ path('user_account_update') }}#abt_edit_div" class="btn btn-primary btn-lg"> <i class="fas fa-plus"> </i> Add Info </a>
		        				{% else %}
			        				No info added
			        			{% endif %}
			        		{% endif %}
		        		</span>
			        </div>
		      	</div>
		    </div>
		</div>
	</div>
{% endblock %}