{% extends 'website.html.twig' %}

{% block title %}Account Update{% endblock %}

{% block body %}

    <div class="main">
        <div class="row">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="div_divide">
                        <h1 class="h3 mb-3 font-weight-normal page_head">General settings</h1>
                        <form method="post" class="">
                            <div class="form-group">
                                <label for="inputName">Name</label>
                                <input type="text" name="name" id="inputName" class="form-control rounded-0" value="{{ app.user.name }}" required>
                            </div>
                            <div class="form-group">
                                <label for="inputUsername">Username</label>
                                <input type="text" id="inputUsername" class="form-control rounded-0" value="{{ app.user.username }}" required disabled="true">
                            </div>
                            <div class="form-group">    
                                <label for="inputEmail">Email-id</label>
                                <input type="email" id="inputEmail" class="form-control rounded-0" value="{{ app.user.email }}" required disabled="true">
                            </div>
                            <div class="form-group">    
                                <label for="inputPhone">Phone</label>
                                <input type="text" name="phone" id="inputPhone" class="form-control rounded-0" value="{{ app.user.phone }}" required>
                            </div>
                            <input type="hidden" name="user_id" value="{{ app.user.id|base64_encode }}">
                            <input type="hidden" name="form_type" value="account">
                            <!-- <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"> -->

                            <div class="form-group">    
                                <button class="btn btn-primary btn-lg" type="submit">
                                    Update
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="div_divide below_div" id="abt_edit_div">
                        <h1 class="h3 mb-3 font-weight-normal page_head">About me</h1>
                        <form method="post" class="">
                            <div class="form-group">
                                <textarea name="about" cols="5" rows="12" class="form-control rounded-0" placeholder="Write something about you..." required>{{ app.user.about }}</textarea>
                            </div>
                            <input type="hidden" name="form_type" value="about">
                            <input type="hidden" name="user_id" value="{{ app.user.id|base64_encode }}">                            
                            <!-- <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"> -->
                            <div class="form-group">    
                                <button class="btn btn-primary btn-lg" type="submit">
                                    Update
                                </button>
                            </div>
                        </form>
                        
                    </div>
                </div>

                <div class="col-md-6 mobile_below_div">
                    <div class="div_divide">
                        <h1 class="h3 mb-3 font-weight-normal page_head">Change password</h1>
                        
                        {{ form_start(passwordForm, {'attr': {'class':'' }} ) }}
                            
                            <input type="hidden" name="id" value="{{ app.user.id }}">
                            <div class="form-group">
                                {{ form_row(passwordForm.old_password, {'attr': {'class': 'form-control  form-control-user', 'placeholder' : 'Enter old', 'autocomplete':'new-password'}} ) }}  

                            </div>

                            <div class="form-group">
                                {{ form_row(passwordForm.password.first, {'attr': {'class': 'form-control  form-control-user', 'placeholder' : 'Enter new'}}) }}
                                {{ form_errors(passwordForm.password.first) }}
                            </div>

                            <div class="form-group">
                                {{ form_row(passwordForm.password.second, {'attr': {'class': 'form-control  form-control-user', 'placeholder' : 'Re-enter new'}}) }}
                                {{ form_errors(passwordForm.password.second) }}
                                
                            </div>

                            <input type="hidden" name="form_type" value="password">

                            <button type="submit" class="btn btn-primary btn-lg">Update </button>
                        
                        {{ form_end(passwordForm) }}
                    </div>

                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}
