{% extends 'website.html.twig' %}

{% block title %}( {{ other.name }} ){% endblock %}

{% block body %}

	<div class="main row msg_div">
		<h3 class="head msg_head">
			{% if other.profilePic %}
				{% set pro_pic = other.profilePic  %}
        	{% else %}
				{% set pro_pic = 'fallback.jpg'  %}
        	{% endif %}
			<img src="{{ asset('/images/profile_pic/' ~ pro_pic)}}" class="header_pro_pic"> <a href="{{ path('home') ~ '/' ~ other.id|base64_encode}}"> {{ other.name }} </a>
	 	</h3>
	 	<div class="msg_list" id="msg_list_div">
	 		{% set get_msg_id = 0 %}
	 		{% set get_msg_date = 0 %}
	 		{% for msg in message %}
 				{% if msg.sender.profilePic %}
					{% set sender_pro_pic = msg.sender.profilePic  %}
	        	{% else %}
					{% set sender_pro_pic = 'fallback.jpg'  %}
	        	{% endif %}
				
				{% if get_msg_date != msg.createdAt | date("d M, Y") %}
					<hr class="dateHr">
	 				<div class="bubbleWrapper dateDiv">
	 					<div class="inlineCenter">
	 						<span class="dateSpan">
	 							{{ msg.createdAt | date("d M, Y") }}
	 						</span>
	 					</div>
	 				</div>
 				{% endif %}

	 			{% if msg.sender.id == app.user.id %}
	 				<div class="bubbleWrapper">
						<div class="inlineContainer own">
							<img class="inlineIcon" src="{{ asset('/images/profile_pic/' ~ sender_pro_pic)}}">
							<div class="ownBubble own">
							 {{ msg.message | base64_decode }}
							</div>
							<span class="own">{{ msg.createdAt | date("h:i A") }}</span>
						</div>
					</div>
	 			{% else %}
				    <div class="bubbleWrapper">
						<div class="inlineContainer">
							<img class="inlineIcon" src="{{ asset('/images/profile_pic/' ~ sender_pro_pic)}}">
							<div class="otherBubble other">
								{{msg.message | base64_decode }}
							</div>
							<span class="own">{{ msg.createdAt | date("h:i A") }}</span>
						</div>
					</div>
	 			{% endif %}
	 			{% set get_msg_id = msg.id %}
	 			{% set get_msg_date = msg.createdAt | date("d M, Y") %}
			{% endfor %}
			
			{% if message|length  == 0 %}
				<div class="no_msg">
					<p>Say Hii, to {{other.name}} .......</p>
				</div>
			{% endif %}
	 	</div>
		
		<input type="hidden" id="last_msg_id" value="{{ get_msg_id | base64_encode }}">
		<input type="hidden" id="get_msg_url" value="{{ path('get_new_message') }}">

		<div class="send_msg_div">
      		<div class="msg_form_div">
				<form method="post" action="{{ path('send_msg') }}" id="send_msg_form">
					<input type="hidden" name="sender_id" id="logged_user_id" value="{{ app.user.id | base64_encode }}"> 
					<input type="hidden" name="receiver_id" id="other_user_id" value="{{ other.id | base64_encode }}"> 
		            <input type="text" name="message" id="send_msg_input" class="form-control rounded-0 find_user" onkeyup="findUser($(this))" required="required" placeholder="Write a message ..."> 
	                <i class="fas fa-send input_search_icon"></i>
	          		<button type="submit" class="btn btn-primary" id="sbmt_find_user"> Send </button>
	      		</form>
	        </div>
		</div>
	</div>

{% endblock %}
