{% extends 'website.html.twig' %}

{% block title %}( {{ user.name }} ){% endblock %}

{% block body %}

	{% include 'home/cover.html.twig' %}
	
	<div class="main">
	    <div class="row">
	    	<div class="col-md-12">
				<div class="col-md-8 col-sm-6">
					<div class=" div_divide">
						<h3 class="head"> Friends </h3>
						<ul>
							{% for lists in friends %}
							<li class="frnd_li">
								{% set list = lists.frend %}
								<div class="frnd_pro_pic">
									{% if user.id == list.sender.id %}
										{% set frend = list.receiver %}
									{% endif %}
									{% if user.id == list.receiver.id %}
										{% set frend = list.sender %}
									{% endif %}

									{% if (frend.profilePic) %}
						        		<img src="{{ asset('/images/profile_pic/' ~ frend.profilePic) }}"/>
							    	{% else %}
						        		<img src="{{ asset('/images/profile_pic/fallback.jpg') }}"/>
							    	{% endif %}
								</div>
								
								<div class="frnd_rest">
									<span class="frnd_name">
										<a href="{{ path('home') ~ '/' ~ frend.id|base64_encode}}" class="post_author">{{ frend.name }}</a>
									</span>
									<div class="right_side resp_btn">
										{{ lists.btn | raw }}
										<!-- <a href="{{ path('message', {id:frend.id|base64_encode}) }}" class="btn btn-primary"> Message </a>  -->
									</div>
								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
		      	</div>

		      	{% if app.user.id == user.id %}
			      	<div class="col-md-4 col-sm-6">
			      		<div class="div_divide mb_frnd_req">
			      			<h3 class="head">
			      				<a href="#home" data-toggle="modal" data-target="#myModal" class="head_find_a"> <i class="fas fa-search"> </i> Find Friends</a>
			      			 	<!-- <input type="button" class="btn btn-primary" value="Find Friend"> -->
			      			</h3>
			      			{% if requests %}
					      		<h3 class="head"> Pending Requests </h3>
								<div class="card my-4">
									<ul>	
										{% for reqsts in requests %}
											{% if user.id == reqsts.sender.id %}
												{% set req = reqsts.receiver %}
											{% endif %}
											{% if user.id == reqsts.receiver.id %}
												{% set req = reqsts.sender %}
											{% endif %}
											{% set encode_req_id =  reqsts.id | base64_encode %}
											
							          		<li class="frnd_li">
												<div class="frnd_pro_pic">
													{% if (req.profilePic) %}
										        		<img src="{{ asset('/images/profile_pic/' ~ req.profilePic) }}"/>
											    	{% else %}
										        		<img src="{{ asset('/images/profile_pic/fallback.jpg') }}"/>
											    	{% endif %}
												</div>
												
												<div class="frnd_rest">
													<span class="frnd_name">
															<a href="{{ path('home') ~ '/' ~ req.id|base64_encode}}" class="post_author">{{ req.name }}</a>
													</span>
													<div class="">
														<div class="resp_btn">
											                <input class="btn btn-primary btn-divide" onclick="acceptFrndRequest('{{ encode_req_id }}', '{{ path('accept_friend_request')}}', $(this))" type="button" value="Accept"> <input class="btn btn-danger btn-divide" onclick="cancelFrndRequest('{{ encode_req_id }}', '{{ path('cancel_friend_request')}}', $(this))" type="button" value="Delete">
											            </div>
											        </div>
												</div>
											</li>
										{% endfor %}
									</ul>
						        </div>
					        {% endif %}
					    </div>
			      	</div>
			    {% endif %}
	    	</div>
	    </div>
	</div>

{% endblock %}
